<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.keylesspalace.tusky">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <!-- For notifications -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- For day/night mode -->
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".HuskyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/TuskyTheme"
        android:usesCleartextTraffic="false">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/share_shortcuts" />
        </activity>

        <activity
            android:name=".SavedTootActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${applicationId}"
                    android:scheme="@string/oauth_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="audio/*" />
            </intent-filter>

            <meta-data
                android:name="android.service.chooser.chooser_target_service"
                android:value="androidx.sharetarget.ChooserTargetServiceCompat" />

        </activity>

        <activity
            android:name=".components.compose.ComposeActivity"
            android:theme="@style/TuskyDialogActivityTheme"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity
            android:name=".components.chat.ChatActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity
            android:name=".ViewThreadActivity"
            android:configChanges="orientation|screenSize" />

        <activity android:name=".ViewTagActivity" />

        <activity
            android:name=".ViewMediaActivity"
            android:theme="@style/TuskyBaseTheme" />

        <activity
            android:name=".AccountActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize" />

        <activity android:name=".components.profile.ui.view.EditProfileActivity" />

        <activity android:name=".components.preference.PreferencesActivity" />

        <activity android:name=".StatusListActivity" />

        <activity android:name=".AccountListActivity" />

        <activity android:name=".AboutActivity" />

        <activity android:name=".TabPreferenceActivity" />

        <activity
            android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <activity
            android:name=".components.search.SearchActivity"
            android:exported="false"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity android:name=".ListsActivity" />

        <activity android:name=".ModalTimelineActivity" />

        <activity android:name=".LicenseActivity" />

        <activity android:name=".FiltersActivity" />

        <activity
            android:name=".components.report.ReportActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity android:name=".components.instancemute.InstanceListActivity" />

        <activity android:name=".components.scheduled.ScheduledTootActivity" />

        <activity android:name=".components.announcements.AnnouncementsActivity" />

        <activity android:name=".components.drafts.DraftsActivity" />

        <!--<receiver
            android:name=".receiver.NotificationClearBroadcastReceiver"
            android:exported="false" />-->

        <receiver
            android:name=".receiver.SendStatusBroadcastReceiver"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".service.HuskyTileService"
            android:exported="true"
            android:icon="@drawable/ic_husky"
            android:label="Compose Status"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            tools:targetApi="24">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service android:name=".service.SendTootService" />

        <receiver
            android:name=".components.unifiedpush.UnifiedPushBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="org.unifiedpush.android.connector.MESSAGE" />
                <action android:name="org.unifiedpush.android.connector.NEW_ENDPOINT" />
                <action android:name="org.unifiedpush.android.connector.UNREGISTERED" />
                <action android:name="org.unifiedpush.android.connector.REGISTRATION_REFUSED" />
                <action android:name="org.unifiedpush.android.connector.REGISTRATION_FAILED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".components.unifiedpush.UnifiedPushService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Disable automatic WorkManager initialization -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

    </application>

</manifest>
