<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.keylesspalace.tusky">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.husky.project.HuskyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/TuskyTheme"
        android:usesCleartextTraffic="false"
        tools:replace="android:name">

        <activity
            android:name="com.husky.project.core.navigation.NavigationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Remove Husky's LAUNCH original activity -->
        <activity
            android:name=".SplashActivity"
            tools:node="remove" />

        <!-- Disable automatic WorkManager initialization -->
        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            android:exported="false"
            tools:node="remove" />
    </application>

</manifest>
